<a href="https://colab.research.google.com/github/32173313/Data_Science/blob/main/Week4_Bootcamp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
# 1050. Actors and Directors Who Worked Together in at Least 3 Movies
def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    df = actor_director.groupby(['actor_id', 'director_id']).size().reset_index(name='count')

    result = df[df['count'] >= 3][['actor_id', 'director_id']]

    return result

In [3]:
# 1667. Fix Names in a Table
def fix_names(users: pd.DataFrame) -> pd.DataFrame:
    users['name'] = users['name'].str.capitalize()

    users = users.sort_values('user_id')

    return users

In [4]:
# 175. Combine Two Tables
def combine_two_tables(person: pd.DataFrame, address: pd.DataFrame) -> pd.DataFrame:
    df = pd.merge(person, address, on='personId', how='left')

    df = df[['firstName', 'lastName', 'city', 'state']]

    return df

In [5]:
# 176. Second Highest Salary
def second_highest_salary(employee: pd.DataFrame) -> pd.DataFrame:
    unique_salaries = employee['salary'].drop_duplicates().sort_values(ascending=False)

    if len(unique_salaries) >= 2:
        second_highest = unique_salaries.iloc[1]
    else:
        second_highest = None

    return pd.DataFrame({'SecondHighestSalary': [second_highest]})

In [6]:
# 1327. List the Products Ordered in a Period
def list_products(products: pd.DataFrame, orders: pd.DataFrame) -> pd.DataFrame:
    orders = orders[orders.order_date.between('2020-02-01', '2020-02-29')]
    df = orders.groupby('product_id')['unit'].sum().reset_index()

    return products.merge(df[df.unit >= 100]).iloc[:,[1,3]]

In [7]:
# 1378. Replace Employee ID with the Unique Identifier
def replace_employee_id(employees: pd.DataFrame, employee_uni: pd.DataFrame) -> pd.DataFrame:
    merged = pd.merge(employees, employee_uni, on='id', how='left')
    result = merged[['unique_id', 'name']]
    return result

In [8]:
# 550. Game Play Analysis IV
def gameplay_analysis(activity: pd.DataFrame) -> pd.DataFrame:
    first_login = activity.groupby('player_id', as_index=False)['event_date'].min()
    first_login.rename(columns={'event_date': 'first_login'}, inplace=True)

    merged = pd.merge(activity, first_login, on='player_id')

    merged['next_day'] = pd.to_datetime(merged['first_login']) + pd.Timedelta(days=1)
    active_next_day = merged[merged['event_date'] == merged['next_day']]['player_id'].nunique()

    total_players = activity['player_id'].nunique()

    fraction = round(active_next_day / total_players, 2)

    return pd.DataFrame({'fraction': [fraction]})

In [9]:
# 1075. Project Employees I
def project_employees_i(project: pd.DataFrame, employee: pd.DataFrame) -> pd.DataFrame:
    merged = pd.merge(project, employee, on='employee_id', how='inner')

    result = merged.groupby('project_id', as_index=False)['experience_years'].mean()
    result['experience_years'] = result['experience_years'].round(2)
    result.rename(columns={'experience_years': 'average_years'}, inplace=True)

    return result

In [10]:
# 185. Department Top Three Salaries
def top_three_salaries(employee: pd.DataFrame, department: pd.DataFrame) -> pd.DataFrame:
    merged = pd.merge(employee, department, left_on='departmentId', right_on='id', how='inner')

    merged['rank'] = merged.groupby('name_y')['salary'].rank(method='dense', ascending=False)

    top3 = merged[merged['rank'] <= 3]

    result = top3[['name_y', 'name_x', 'salary']].rename(
        columns={'name_y': 'Department', 'name_x': 'Employee', 'salary': 'Salary'}
    )

    return result